.flex-box {
  display: flex;
  width: 45%;
  align-content: center;
}
.flex-container-1 {
  display: flex;
  width: 50%;
  height: 600px;
}
.flex-container-2 {
  text-align: center;
  height: 600px;
  width: 50%;
}
.logo {
  width: 50%;
}
